@layer components {
  .card-gradient-border {
    background-color: #00AEEF3D;
    border: 2px solid;
    border-image-slice: 1;
    border-image-source:
      linear-gradient(146.58deg, #00AEEF 0.86%, rgba(8, 34, 53, 0) 50%),
      linear-gradient(326.95deg, #00AEEF 0.69%, rgba(8, 34, 53, 0) 66.77%);
  }

  
}

.card-border {
  border: 1px solid solid transparent;
  border-image-slice: 1;
  border-image-source: conic-gradient(
    from 180deg at 50% 50%,
    #FF98E2 0deg,
    #FFC876 35.77deg,
    #79FFF7 153.75deg,
    #9F53FF 258.75deg,
    #FF98E2 360deg
  );
}
